@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 7px;
    font-family: 'Poppins', sans-serif;
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea, button, select, a{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a:focus, a:visited, a:active {
  outline: none;
}

.Client-review{
    background-color: #ffffff;
  
  }
  
  .reviews{
    text-align: center;
  }
  
  .reviews h3{
    color: black;
    font-size: 35px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
    margin-bottom: 50px;
    margin-top: 20px;
  }
  
  .reviews img{
    width: 100px;
    height: auto;
    border-radius: 50px;
    margin: 10px 0;
    padding-bottom: 5px;
  }
  
  .reviews p{
    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 2px;
    text-align: justify;
  }
  
  .reviews h2{
    font-size: 22px;
    counter-reset: black;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 0px;
  }

  .button-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
  }

  #btn {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: 500;
      padding: 12px 20px;
      background: #f1bc10;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      transition: .4s;
  }

  #btn:hover{
    background: rgb(30, 159, 171);
    color: white;
    
  }


  .Video {
    width: 800px;
    max-width: 800px;
    height: auto;
    border-radius: 35px;
    margin-top: 50px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .Video {
        max-width: 600px;
        margin-top: 30px;
        border-radius: 25px;
    }
}

@media (max-width: 480px) {
    .Video {
        max-width: 300px;
        margin-top: 20px;
        border-radius: 20px;
    }
}

@media (max-width: 650px) {
  .Video{
    max-width: 400px;
    margin-top: 25px;
    border-radius: 20px;
  }
}

@media (max-width: 450px) {
  .Video{
    max-width: 250px;
    margin-top: 25px;
    border-radius: 20px;
  }
}


  
  /* Responsive Styles */
@media (max-width: 768px) {
  .reviews h3 {
      font-size: 28px;
      margin-bottom: 40px;
  }

  .reviews img {
      width: 80px;
  }

  .reviews h2 {
      font-size: 20px;
  }

  .reviews p {
      font-size: 0.9rem;
      line-height: 22px;
  }

  #btn {
      font-size: 14px;
      padding: 10px 18px;
  }
}

@media (max-width: 480px) {
  .reviews h3 {
      font-size: 24px;
      margin-bottom: 30px;
  }

  .reviews img {
      width: 70px;
  }

  .reviews h2 {
      font-size: 18px;
  }

  .reviews p {
      font-size: 0.6rem;
      line-height: 19px;
      padding: 1px;
      
  }

  #btn {
      font-size: 12px;
      padding: 8px 16px;
  }
}




