@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input, textarea, button, select, a{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


a:focus, a:visited, a:active {
    outline: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #f7f7f7;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

iframe {
    width: 100%;
    max-width: 900px;
    height: auto;
    border: 10px solid #111111;
    border-radius: 10px;
}

@media (max-width: 600px) {
    iframe {
        width: 100%;
        height: 300px;
    }
}